.Notification {
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #0000001a;
  text-align: left;
  color: rgb(95, 93, 93);
}

/* .PostTitle {
    font-size: 2rem;
  }
  
  .Upper {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
  }
  .Lower {
    background-color: rgb(240, 240, 240);
    padding: 1rem 2rem;
  }
   */
